*
{
    margin-top:12px;
    padding: 0px;
    background-color: rgb(235, 227, 227);
}
form
{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 10px;
}
input
{
    display: block;
    margin: auto;
    /* font-size: 20px; */
    margin-bottom: 10px;
    background-color: white;
    padding: 4px;
    font-family: sans-serif;
}
button
{
    display: flex;
    margin: auto;
    border: 0px;
    background-color: white;
    padding: 10px;


    
}
button>a
{
    margin-left: 10px;
    text-decoration: none;
    background-color:white;
    color: rgb(209, 22, 22);
    margin-top: 0px;
}